{% extends '../layouts/layout.html' %}
{% block title %}新建相册{% endblock %}
{% block css %}
    <link href="/css/gallery/add.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="ui container" id="add-wrapper">
        <div id="add">
            <h2>新建相册</h2>
            <div class="ui divider"></div>
            <form action="/gallery/add" class="ui form" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="field">
                    <input type="text" name="title" class="form-control" placeholder="相册名称，至少3个字"/>
                </div>
                <div class="field">
                    <textarea name="story" id="story" rows="10" class="form-control" placeholder="相册故事，至少15个字"></textarea>
                </div>
                <div class="field">
                    <button class="ui button black basic" type="submit">立即创建</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}