{% extends '../layouts/layout.html' %}
{% block title %}{{ gallery.title }}{% endblock %}
{% block js %}
    <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/vendor/blueimp-load-image/js/load-image.all.min.js"></script>
    <script src="/js/gallery/image.js"></script>
    <script src="/js/gallery/uploader.js"></script>
    <script src="/js/gallery/gallery.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/css/gallery/gallery.css"/>
{% endblock %}

{% block body %}
    <div class="ui container">
        <h2 class="ui header">
            <i class="photo icon"></i>
            <div class="content">
                {{ gallery.title }}
                <div class="sub header">{{ gallery.story }}</div>
            </div>
        </h2>
        <form id="upload-form" action="/gallery/upload" method="POST" class="lc-hidden">
            <input id="upload-input" multiple type="file"/>
        </form>
        <div>
            <button id="upload-button" class="ui button blue"><i class="cloud upload icon"></i>上传照片</button>
            {% if session.user %}
                <div class="ui dropdown button">
                    <i class="share alternate icon"></i>

                    <div class="text">分享相册</div>
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        {#<div class="item" id="lovely-link">简洁链接</div>#}
                        <div class="item">微信朋友圈</div>
                        <div class="item">新浪微博</div>
                        <div class="item">微信</div>
                    </div>
                </div>
            {% endif %}
            {#<button class="ui button">设置相册头像</button>#}
            {#<button class="ui button">设置相册背景</button>#}
        </div>
        <div class="ui divider"></div>
        <div class="ui five cards" id="images">
            {% if gallery.images.length %}
                {% for item in gallery.images %}
                    <div class="card" data-key="{{ item.key }}">
                        <div class="image" data-name="{{ item.fileName }}" data-key="{{ item.key }}"
                             data-hash="{{ item.hash }}">
                            <img src="//cdn.lazycoffee.com/{{ item.key }}_w1024"/>
                        </div>
                        <div class="content">
                            <span class="header">{{ item.fileName }}</span>
                            <div class="meta">
                                <span class="date"></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div id="no-image-gallery">
                    <h4 class="ui header">
                        相册内目前没有照片，你可以通过点击左上方蓝色按钮上传图片。
                    </h4>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="hidden" id="gallery-id" data-gallery-id="{{ gallery._id.toHexString() }}"></div>
    <div class="ui fullscreen modal" id="show-image-modal">
        <i class="close icon"></i>

        <div class="header">
            Image name
        </div>
        <div class="content">
            <img src="" alt=""/>
        </div>
        <div class="actions">
            <div class="ui red deny button" id="remove-image-button" data-action="deleteItem" data-key="">
                <i class="trash outline icon"></i>
                删除
            </div>
            <div class="ui button blue">
                <i class="share alternate icon"></i>
                分享
            </div>
            <div class="ui  button">
                <i class="remove icon"></i>
                关闭
            </div>
        </div>
    </div>
{% endblock %}