{% extends '../layouts/layout.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/gallery/my-gallery.css"/>
{% endblock %}

{% block js %}
    <script src="/js/gallery/my-gallery.js"></script>
{% endblock %}

{% block body %}
    <div class="ui container">
        {% if galleries.length %}
            <div>
                <a href="/gallery/add" class="ui button primary"><i class="plus icon"></i>新增相册</a>
            </div>
            <div class="ui divider"></div>
            <div class="ui link cards">
                {% for item in galleries %}
                    <div class="card">
                        <div class="image">
                            {% if item.thumbnail %}
                                <img src="{{ item.thumbnail.url }}" alt="{{ item.thumbnail.name }}">
                            {% else %}
                                <img data-src="holder.js/242px200?text=相册头像">
                            {% endif %}
                        </div>
                        <div class="content">
                            <div class="header">{{ item.title }}</div>
                            <div class="meta">
                                <a>{{ item.date }}</a>
                            </div>
                            <div class="description">
                                {% if item.story %}
                                    {{ item.story }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="extra content">
                            <a href="/gallery/{{ item.id }}" class="ui button">查看相册</a>
                            <div class="ui button other-features-btn"
                                    data-gallery="{{ item._id }}">
                                选项
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center" id="no-gallery-text">你还没有创建作何相册，现在立即创建？</p>
            <p class="text-center"><a class="btn btn-primary" href="/gallery/add">创建相册</a></p>
        {% endif %}
    </div>
    {#other features modal #}
    <div class="ui modal" id="otherFeaturesModal">
        <div class="header">相册选项</div>
        <div class="content">
            <div>
                <div class="ui button red remove-gallery-btn">
                    删除相册
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                关闭
            </div>
        </div>
    </div>
    {# remove gallery confirmation modal #}
    <div class="ui modal" id="removeGalleryModal">
        <div class="header">
            确定删除相册吗？
        </div>
        <div class="content">
            <div>
                请考虑清楚，相册及里面的照片都会被删除，并且无法恢复。确定删除？
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">关闭</div>
            <div class="ui button red" id="remove-gallery-confirmed">确认删除</div>
        </div>
    </div>
{% endblock %}

