<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block meta %}{% endblock %}
	<title>{% block title %}LazyCoffee{% endblock %}</title>
	<link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/common/common.min.css" rel="stylesheet">
	{% block css %}{% endblock %}
</head>
<body>
{% block nav %}
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lazycoffee-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">LazyCoffee</a>
			</div>
			<div class="collapse navbar-collapse" id="lazycoffee-navbar">
				{#<ul class="nav navbar-nav">#}
					{#<li><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
					{#<li><a href="#">Link</a></li>#}
				{#</ul>#}
				<ul class="nav navbar-nav navbar-right">
					{% if session.user %}
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;用户菜单
							<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/users">我的主页</a></li>
							<li><a href="/users/logout">退出</a></li>
						</ul>
					{% else %}
						<li><a href="/users/register">注册</a></li>
						<li><a href="/users/login">登陆</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}
{% block flashMessages %}
	{% if messages.success||messages.info||messages.warning||messages.danger %}
		<div class="container">
			{% if messages.success %}
                {% for msg in messages.success %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        {{ msg }}
                    </div>
                {% endfor %}
			{% endif %}
			{% if messages.info %}
                {% for msg in messages.info %}
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        {{ msg }}
                    </div>
                {% endfor %}
			{% endif %}
			{% if messages.warning %}
				{% for msg in messages.warning %}
					<div class="alert alert-warning" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
						{{ msg }}
					</div>
				{% endfor %}
			{% endif %}
			{% if messages.danger %}
                {% for msg in messages.danger %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        {{ msg }}
                    </div>
                {% endfor %}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <a href="http://www.miitbeian.gov.cn">粤ICP备13049010号-3</a>&nbsp;&nbsp;
            Designed and created by JamesYin&nbsp;&nbsp;
            版权所有 &copy;2015
        </div>
    </footer>
{% endblock %}

{% block modal %}
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="modalLabel">{% block modalTitle %}{% endblock %}</h4>
				</div>
				<div class="modal-body">
					{% block modalBody %}{% endblock %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="ok">确定</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
<script src="//cdn.bootcss.com/angular.js/1.4.1/angular.min.js"></script>
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/vendor/livereload/dist/livereload.js?host=localhost&port=35728"></script>
<script src="/js/common/common.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>