{% extends 'layouts/layout.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/index/index.css"/>
{% endblock %}

{% block js %}
    <script src="/js/index/index.js"></script>
{% endblock %}

{% block title %}LazyCoffee云相册{% endblock %}
{% block body %}
    <div class="ui text container center aligned" id="index">
        <h1 class="ui header">LazyCoffee是一个简单易用，并且永久免费的云相册。</h1>
        <p>
            {% if session.user %}
                <a href="/gallery/add" class="ui black button">
                    开始创建我的相册
                    <i class="right arrow icon"></i>
                </a>
            {% else %}
                <a href="/users/email/register" class="ui black basic button" id="create-my-gallery-btn">
                    开始创建我的相册
                    <i class="right arrow icon"></i>
                </a>
            {% endif %}
        </p>
    </div>
{% endblock %}
{% block footer %}
    {% include './blocks/footer1.twig' %}
{% endblock %}