{% extends '../../layouts/layout.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/users/email/register-password.css"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/vendor/validator-js/validator.min.js"></script>
    <script type="text/javascript" src="/js/users/email/register-password.js"></script>
{% endblock %}

{% block body %}
<div class="ui container">
    {% include '../../blocks/email-register-step.html' %}
    <form class="ui form" method="POST" action="/users/email/register/password" id="register-password">
        <h1>输入密码</h1>
        <div class="ui divider"></div>
        <div class="field">
            <input type="password" id="password" name="password" placeholder="密码（8-20位）"/>
        </div>
        <div class="field">
            <input type="password" class="form-control" id="re-password" name="rePassword" placeholder="确认密码"/>
        </div>
        <button id="submit" class="ui button black fluid">确认</button>
    </form>
</div>
{% endblock %}