{% extends '../../layouts/layout.html' %}
{% block css %}
    <link rel="stylesheet" href="/css/users/email/success.css"/>
{% endblock %}
{% block title %}注册成功 | LazyCoffee{% endblock %}
{% block body %}
    {% include '../../blocks/email-register-step.html' %}
    <div id="success">
        <div>
            <h2 class="ui header">LazyCoffee用户注册成功</h2>
            <hr/>
            <p>
                恭喜，你的账户已创建成功！请牢记你的账号和密码哟~
            </p>
            <p>
                <a href="/" class="ui black basic button">返回首页</a>
            </p>
        </div>
    </div>
{% endblock %}