@import "../variables/variables.less";

#images{
  margin: 0;
  width:100%;
  >.card{
    width:260px;
    >.image{
      >canvas{
        display: block;
        width:100%;
      }
    }
    >.content{
     >.header{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        font-size: 1em;
        font-weight: 400;
      }
    }
    &.disabled{
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
#show-image-modal{
  >.content{
    height:600px;
    background: #FAFAFA;
    .gallery-cell{
      width:98%;
      margin-right: 10px;
      background-color: #333;
      height: 600px;
      text-align: center;
      &.uploading{
        opacity: 0.6;
      }
      .gallery-cell-image{
        display: block;
        max-height: 600px;
        margin: 0 auto;
        opacity: 0;
        transition:opacity 0.4s;
        &.flickity-lazyloaded, &.flickity-lazyerror{
          opacity: 1;
        }
      }
    }
  }
}
