@import "../../../public/semantic/src/themes/default/globals/site.variables";
@font-family-base: "Microsoft Yahei",sans-serif;
@west-sans-serif : Arial, sans-serif;
@gray-lightest:rgb(245,245,245);
@gray-lighter:rgb(210,210,210);
@gray-light: rgb(180, 180 ,180);
