{% extends '../../layouts/layout.html' %}
{% block js %}
    <script src="/js/users/society/weibo_register.js"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/css/users/society/society.css"/>
{% endblock %}
{% block body %}
    <div id="finish-register">
    {% if isLegal %}
        <h2 class="ui header">
            <i class="icon weibo"></i>
            <div class="content">
                登录成功
            </div>
        </h2>
        <div class="ui card">
            <div class="image">
                <img src="/images/avatar2/large/kristy.png">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    22 Friends
                </a>
            </div>
        </div>
    {% else %}
        <h2 class="ui header">抱歉，请求不合法...</h2>
    {% endif %}
    </div>
{% endblock %}