{% extends '../../layouts/layout.html' %}
{% block js %}
    <script src="/js/users/society/weibo_register.js"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/css/users/society/society.css"/>
{% endblock %}
{% block body %}
    <div id="finish-register">
        <h2 class="ui header">
            <i class="icon weibo"></i>
            <div class="content">
                登录成功
            </div>
        </h2>
        <div class="ui card">
            <div class="image">
                <img src="{{ avatar.cdn }}">
            </div>
            <div class="content">
                <div class="header">{{ session.user.name }}</div>
            </div>
            <a href="/my-gallery" class="ui button basic fluid">
                进入我的相册
            </a>
        </div>
    </div>
{% endblock %}