{% extends '../../layouts/layout.html' %}
{% block title %}相册管理 | LazyCoffee{% endblock %}
{% block body %}
<div class="ui container">
    <h1>相册管理</h1>
    <div class="ui divider"></div>
    <table class="ui small compact striped celled black table">
        <thead>
        <tr>
            <th class="one wide">Id</th>
            <th class="two wide">images</th>
            <th class="one wide">updateTime</th>
            <th class="one wide">owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery._id }}</td>
                <td>
                    {% for image in gallery.images %}
                        {{ image._id }}:{{ image.hash }}{% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ gallery.updateDate }}
                </td>
                <td>
                    {{ gallery.owner.email }}
                </td>
                <td>
                    <a href="/admin/gallery/remove?id={{ gallery._id }}" class="ui button">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}