@import "../variables/variables.less";
html{
  position: relative;
  min-height: 100%;
}
body{
  font-family:@font-family-base;
  margin-bottom: 60px;
}
h1,h2,h3,h4,h5,h6{
  font-family:@font-family-base;
}
a{
  &:hover{
    text-decoration: none;
  }
}
.rotate90{
  transform: rotate(90deg) translateY(-100%);
}
.rotate180{
  transform: rotate(180deg) translateY(-100%);
}
.rotate270{
  transform: rotate(270deg) translateY(-100%);
}
img{
  transform-origin: top left;
}
//navigation
.navbar-brand{
  font-family: @west-sans-serif;
}
.navbar-default{
  border:0;
}
.form-control-static{
  padding-top:0;
}
.footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:50px;
  text-align: center;
  padding-top: 15px;
}