@import "../variables/variables.less";
html{
  position: relative;
  min-height: 100%;
}
body{
  font-family:@font-family-base;
  margin-bottom: 60px;
}
h1,h2,h3,h4,h5,h6{
  font-family:@font-family-base;
}
a{
  &:hover{
    text-decoration: none;
  }
}
canvas{
  max-width: 100%;
  max-height: 100%;
}
img{
  max-width:100%;
  max-height: 100%;
}
//shadow box
.shadow-box{
  box-shadow: 1px 2px 10px #ddd;
}
//animation
.spin{
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
//key frame
@keyframes spin {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}
//navigation
.navbar-brand{
  font-family: @west-sans-serif;
}
.navbar-default{
  border:0;
}
.form-control-static{
  padding-top:0;
}
.footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:50px;
  text-align: center;
  padding-top: 15px;
  color:@gray-light;
  a{
    color:@gray-light;
    &:hover{
      color:@brand-primary;
    }
  }
}