{% extends '../layouts/layout.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/users/email/login.css"/>
{% endblock %}

{% block body %}
    <div class="ui center aligned grid">
        <div class="column" id="email-login">
            <form method="POST" action="/users/email/login" class="ui large form">
                <h2 class="ui header">
                    <i class="mail outline icon"></i>
                    <div class="content">
                        邮箱登录
                    </div>
                </h2>
                <div class="ui divider"></div>
                <form class="ui form">
                    <div class="field">
                        <input type="text" name="email" placeholder="邮箱地址">
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="账户密码">
                    </div>
                    <div class="field">
                        <div class="ui slider checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="rememberMe">
                            <label>记住我</label>
                        </div>
                    </div>
                    <button class="fluid ui large button black" type="submit">立即登录</button>
                    <div class="ui horizontal divider">or</div>
                    <a href="/users/email/register" class="ui black large basic button fluid">没有账号？立即注册</a>
                </form>
            </form>
        </div>
    </div>
{% endblock %}