{% extends '../layouts/layout.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/users/email/register.css"/>
{% endblock %}

{% block title %}邮箱注册 - 第一步 | LazyCoffee{% endblock %}

{% block js %}
    <script type="text/javascript" src="/vendor/validator-js/validator.min.js"></script>
    <script type="text/javascript" src="/js/users/email/email-register.js"></script>
{% endblock %}

{% block body %}
    {% include '../blocks/email-register-step.html' %}
    <div id="email-register">
        <form class="ui form" method="POST" id="email-register-form" action="/users/email/register">
            <h2 class="ui header">
                <div class="content">
                    请填写你的邮箱地址
                </div>
            </h2>
            <div class="ui divider"></div>
            <div class="field">
                <input type="email" name="email" id="email-register-input" placeholder="邮箱地址"/>
            </div>
            <div class="field">
                <button class="ui button black fluid" type="submit" id="email-register-next-btn" disabled>下一步</button>
            </div>
        </form>
    </div>
{% endblock %}