{% extends '../layouts/layout.html' %}
{% block css %}
    <link rel="stylesheet" href="/css/users/phone/login.css"/>
{% endblock %}
{% block js %}
    <script src="/js/users/login.js"></script>
{% endblock %}
{% block body %}
<div class="ui center aligned grid">
    <div class="column" id="choose-login">
        <h2 class="ui header">
            <i class="sign in icon"></i>
            <div class="content">
                选择登录方式
            </div>
        </h2>
        <div class="ui divider"></div>
        <a href="/users/email/login" class="ui black button"><i class="mail outline icon"></i>邮箱</a>
        <a href="/users/phone/login" class="ui disabled button" id="phone-login"><i class="mobile icon"></i>手机</a>
        <a href="/users/register" class="ui black basic button">没有账号？</a>
        <h2 class="ui header">
            <i class="sign in icon"></i>
            <div class="content">
                使用社交账号登录
            </div>
        </h2>
    </div>
</div>
{% endblock %}