{% extends '../layouts/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/css/users/register.min.css" type="text/css"/>
{% endblock %}

{% block js %}
    <script src="/js/users/register.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container" id="register-wrapper">
        <h1 id="register-title">Join LazyCoffee</h1>
        <hr/>
        <form action="/users/register" method="POST" id="register" class="form-horizontal">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" typ="userName" class="form-control" id="user-name" name="userName" placeholder="用户名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7">
                    <input name="mobile" type="tel" class="form-control" id="mobile" placeholder="手机号码">
                </div>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-default btn-block" id="get_mobile_captcha">
                        获取验证码
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input name="mobile_captcha" type="text" class="form-control" id="mobile_captcha"
                           placeholder="短信的验证码" disabled="disabled">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input name="password" type="password" class="form-control" id="password" placeholder="请输入6-16位密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input name="rePassword" type="password" class="form-control" id="rePassword" placeholder="再输入一次密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block">确定</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}